<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-header">
        <a href="/" class="navbar-brand"><span class="brand-title">{{vm.title}}</span></a>
        <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>
    <div class="navbar-collapse collapse">
        <div class="pull-right navbar-logo">
            <ul class="nav navbar-nav pull-right">
                <li>
                    Impersonate user:
                    <select ng-model="vm.impersonatedUser"
                            ng-change="vm.switchUser(vm.impersonatedUser)"
                            ng-options="user.Name for user in vm.users track by user.Id">Choose one!</select>
                </li>
            </ul>
        </div>
    </div>
</nav>
