<div class="modal-header">
    <h3 class="modal-title">New booking</h3>
</div>
<div class="modal-body">
    <form name="form" novalidate>
        <table>
            <tbody>
            <tr>
                <td><label for="subject">Class subject</label></td>
                <td><input type="text" ng-model="vm.event.title" name="subject" id="subject" ng-required="true"></td>
            </tr>
            <tr>
                <td><label for="otherParty">{{ vm.userTitle }}</label></td>
                <td><select class="form-control" ng-model="vm.userObject" ng-options="user.Name for user in vm.users track by user.Id" name="otherParty" id="otherParty" ng-required="true"></select>
                </td>
            </tr>
            <tr>
                <td><label for="startDate">Start</label></td>
                <td>
                    <p class="input-group"><input type="text" class="form-control col-xs-8" datetime-picker="dd MMM yyyy HH:mm" ng-model="vm.event.startsAt" is-open="vm.startsAtOpen" name="startDate"
                                                  id="startDate"/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="vm.openCalendar($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span></p>
                </td>
            </tr>
            <tr>
                <td><label for="duration">Duration(minutes)</label></td>
                <td><input type="number" ng-model="vm.duration" name="duration" id="duration" step="{{vm.durationStep}}"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </form>
    <div class="modal-footer">
        <button class="btn btn-primary btn-danger" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" ng-click="create()" ng-disabled="form.$invalid || !vm.userObject.Id">OK</button>
    </div>

</div>
